<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blog.name %>
</p>

<strong>Imagenes:</strong>
<p>
  <% @blog.pictures.each do |p| %>
    <%= image_tag attachment_url(p, :file, :fill, 100, 100) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
