<p id="notice"><%= notice %></p>
<p>
  <%= @post.name %>
  <% @post.pictures.each do |image| %>
    <%= attachment_image_tag(image, :file, :fill, 400, 400) %>
    <%= image_tag attachment_url(image, :file) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
